<h1>Listing videos</h1>
<%= link_to 'New Video', new_user_video_path(current_user) %>


<div class="row-fluid">
<% @videos.each do |video| %>
  <div class="span4">
    <h2><%=video.title%></h2>
    <p><%=video.description%></p>
    <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="340" height="264" poster="" data-setup="{}">
      <source src="<%=video.file.url()%>" type='video/mp4'>
    </video>    
    
    <%= link_to 'Show', user_video_path(current_user,video) %>
    <%= link_to 'Edit', edit_user_video_path(current_user,video) %>
    <%= link_to 'Destroy', user_video_path(current_user,video), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div><!--/span-->
<% end %>
</div>