<div class="row">
  <div class="offset3 span6">
    <div id="legend" class="">
      <legend class="">
        <h2><%=@video.title%></h2>
      </legend>
    </div>
    <p><%=@video.description%></p>
    <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="480" height="390" 
        poster="<%=@video.file.url('thumb')%>" data-setup="{}">
      <source src="<%=@video.file.url('mp4')%>" type='video/mp4'>
    </video>
    <div class="controls">
      <%= link_to 'Edit', edit_user_video_path(current_user,@video) %> |
      <%= link_to 'Destroy', user_video_path(current_user,@video), method: :delete, data: { confirm: 'Are you sure?' } %>        
    </div>
  </div>    
</div> 