<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Filminuto</title>
  <meta name="description" content="Upload and share one minute." />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/navigation' %>
  </header>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <footer>
  </footer>
</body>
</html>
